@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-family: 'Righteous';
    font-size: 32px;
    color: white;
    font-weight: 700;
}

.navbar {
    display: flex;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .navbar {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        align-items: center;
    }

    .navbar.open {
        max-height: 300px; /* Ajusta este valor según la altura del contenido */
    }

    .navbar a {
        margin: 10px 0;
        font-size: 24px;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon .bar.open:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-icon .bar.open:nth-child(2) {
        opacity: 0;
    }

    .menu-icon .bar.open:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}