.footer {
    background: linear-gradient(to bottom, #fff, #c77a80);
    color: #fff;
    padding: 2rem;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}
F
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons-footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.social-icons-footer a { 
    color: #000000;
    font-size: 29px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.5s ease;
}

.social-icons-footer a:hover {
    color: #c6797f;
    transform: rotate(360deg);
}

.footer-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer-rights {
    font-size: 0.9rem;
    color: #000000;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .social-icons-footer a {
        margin: 0 0.5rem;
        font-size: 1.25rem;
    }

    .footer-text {
        font-size: 0.9rem;
    }

    .footer-rights {
        font-size: 0.8rem;
    }
}